.app_header {
  padding: 0 140px;
}
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }

  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #8f90a0 !important;
      font-size: 14px;
    }

    .button_enter {
      background-color: white;
      color: #BC9CFF;
      border-radius: 22px;
      border: 2px #BC9CFF solid;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      width: 87px;
      height: 34px;
      margin-top: -5px;

      &:focus {
        outline: none;
      }
    }

    .button_signUp {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #FFFFFF;
      border-radius: 22px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      width: 196px;
      height: 34px;
      border: 2px #BC9CFF solid;
      margin-top: -5px;

      &:focus {
        outline: none;
      }
    }
  }
}