.app_auth-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/icons/Fon1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 0 140px;
  box-sizing: border-box;
}
.app_auth-page .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 380px;
  height: 374px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 15px 30px 30px;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  margin-bottom: 250px;
}
.app_auth-page .search h2 {
  font-size: 24px;
  color: #1F2041;
}
.app_auth-page .search .search_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-transform: uppercase;
}
.app_auth-page .search .search_content .date {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}
.app_auth-page .search .search_content .date input {
  width: 100%;
  height: 44px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: uppercase;
  text-align: center;
  padding-left: 5px;
  font-style: normal;
  font-weight: normal;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.app_auth-page .search .search_content .date input:focus {
  outline: none;
}
.app_auth-page .search .search_content select {
  width: 100%;
  height: 44px;
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 5px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.app_auth-page .search .search_content select:focus {
  outline: none;
}
.app_auth-page .search .search_content #number {
  width: 100%;
  height: 44px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: 2px #BC9CFF solid;
}
.app_auth-page .search .search_content #number img {
  float: right;
}

.container_reg {
  width: 100%;
  height: 800px;
  background: url("../../assets/icons/fon_registration.png") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}
.container_reg .enter form {
  position: relative;
  top: 40%;
  left: 40%;
  width: 380px;
  height: 358px;
  align-items: stretch;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container_reg .enter form h2 {
  align-self: center;
}
.container_reg .enter form input {
  height: 44px;
  width: 320px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
}
.container_reg .enter form input::placeholder {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 18px;
  width: 69px;
  height: 18px;
}
.container_reg .enter form .btn_sign_in {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  width: 320px;
  height: 44px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #8BA4F9;
  margin-top: 5px;
}
.container_reg .enter form .enter_account {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container_reg .enter form .enter_account p {
  font-size: 14px;
  line-height: 18px;
}
.container_reg .enter form .enter_account .btn_reg {
  background-color: white;
  color: #BC9CFF;
  border-radius: 22px;
  border: 2px #BC9CFF solid;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  width: 99px;
  height: 44px;
  margin-top: -5px;
}
.container_reg form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 650px;
  align-items: stretch;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container_reg form h2 {
  font-size: 24px;
  line-height: 29px;
  align-self: flex-start;
  margin: 0;
}
.container_reg form label:not(.switch-for) {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.container_reg form .sex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 30px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
}
.container_reg form input[type=date] {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  text-transform: uppercase;
}
.container_reg form input:not([type=radio]) {
  height: 44px;
  width: 320px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}
.container_reg form input:not([type=radio])::placeholder {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 18px;
  width: 69px;
  height: 18px;
}
.container_reg form .btn_sign_up {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  width: 320px;
  height: 44px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #8BA4F9;
  margin-bottom: 30px;
  margin-top: 10px;
}
.container_reg form .enter_account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container_reg form .enter_account p {
  font-size: 14px;
  line-height: 18px;
}
.container_reg form .enter_account .btn_enter {
  background-color: white;
  color: #BC9CFF;
  border-radius: 22px;
  border: 2px #BC9CFF solid;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  width: 99px;
  height: 44px;
  margin-top: -5px;
}

/*# sourceMappingURL=authPage.css.map */
